/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html,
body,
.view {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

html,
body {
  position: relative;
  height: 100%;
}

:root {
  --color: #003a6c;
}

html,
body,
header,
.view {
  height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.brands {
  background-image: url('../img/Logo.png');
  height: 49px;
  width: 129px;
  background-repeat: no-repeat;
}

.margin {
  margin-left: 200px;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color);
  font-style: italic;
}

h3::after,
h1::after {
  content: "";
  height: 2px;
  width: 50px;
  margin-bottom: 8px;
  margin-left: 12px;
  background: yellow;
  display: inline-block;
}

/* Full Page Carousel itself*/

.carousel {
  height: 100%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/* Navbar animation */
.navbar {
  background-color: #0f4479a6;
  padding: 0;
}

.top-nav-collapse {
  background-color: #0f4479a6;
}

.navbar.scrolling-navbar {
  padding: 0;
}

.nav-link:hover {
  color: blue;
}

.right-side {
  background: #fff;
  width: 45vw;
  margin: 0;
  margin-left: 25px;
  padding: 7px 11px;
  border-left: 5px solid #019fe9;
}

.right-side a {
  color: black;
}

.call-icon {
  background: #019fe9;
  color: #fff;
  padding: 5px;
  font-size: -1ox;
  border-radius: 50%;
  margin-left: -30px;
  line-height: 1;
  /* margin-top: -14px; */
  position: absolute;
  top: 19px;
}

strong.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  padding: 45px;
}


.hr2 {
  height: 1px;
  background: yellow;
  width: 455px;
}
#input_container {
  position:relative;
  padding:0 0 0 20px;
  margin:0 auto;
  width:40vw;
}
#input {
  height:20px;
  margin:0;
  padding-right: 30px;
  width: 100%;
  height: 40px;
  outline:none
}
#input_img {
  position:absolute;
  bottom: 4px;
  right: 12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #0f4479;
  }
.hr2{
  width: auto;
}
  .right-side {
    width: 100vw;
    margin: 0;
    margin-left: 0;
  }

  .headerimg {
    margin-top: 40px;
    height: 22vh;
    width: 100%;
  }

  #input_container {
    width: 100vw;
  }

  .margin {
    margin-left: 0px;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #0f4479;
}

/* Locations */
.locations {
  margin-top: -39px;
}

.locations h3 {
  margin-top: 65px;
}

.locations .wid20pr {
  width: 20%;
}

.locations .widbiger {
  width: 75%;
}

.locations .swiper-container {
  width: 100%;
  height: 100%;
}

.locations .head-img {
  position: absolute;
  left: 0;
  color: #fff;
  z-index: 200;
  background: #80d8f69c;
  width: 100%;
  top: 35px;
  padding: 10px;
}

.locations .rgba-teal-strong,
.rgba-teal-strong:after {
  background: #80d8f69c;
}

.locations .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.locations .swiper-button-next, .locations  .swiper-button-prev {
  left: 20%;
  margin-top: 140px;
}
.locations  .swiper-button-prev {
  margin-left: -37px;
}
.swiperatneen {
  padding-bottom: 4px;
  border-bottom: 15px solid #154b79
}
@media (max-width:678px) {
  .locations .wid20pr {
    width: 90vw;
    padding-bottom: 25px;
  }

  .locations .widbiger {
    width: 100%;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .locations .swiper-button-next, .locations  .swiper-button-prev {
    left: 20%;
    margin-top: -25px;
  }
}

/* packges */
.packges {
  position: relative;
}
.packges .small,
.packges2 .small{
  margin-top: 23px;
}
.packges .card .card-body h5 {
  font-weight: 700;
}
.packges .text-price,
.packges2 .text-price {
  color: #1ba1e1;
  font-size: 20px;
  font-weight: 800;
}
.packges .swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.packges .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 200px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.packges2 {
  display: none;
}

@media (max-width: 768px) {
  .packges {
    display: none;
  }

  .packges2 {
    display: block;
  }

  .packges2 .swiper-container {
    width: 100%;
    height: 100%;
  }

  .packges2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

/* vacation */
.around-world .ball{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #003a6c;
  border: 4px solid #DDD;
  margin: 30px auto;
}
.around-world .ball3{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #019fe9 !important;
  border: 4px solid #DDD;
  margin: 30px auto;

}
.around-world .bold55{
  font-weight: 700;
  font-size: 23px
}
.around-world a.bold55{
  color: #003a6c
}
.around-world p.bold55{
  color: #6b6b6b;
  font-weight: bolder;
}
.vacation {
  background-image: url("../img/Logo 1.png");
  background-repeat: no-repeat;
}

.navdown {
  padding-top: 103px;
  flex-direction: row;
}

.navdown li {
  margin: 5px 10px;
  justify-content: space-around;
  color: #fff;
}

.whitext {
  color: #fff !important;
}

.navdown a i {
  text-align: center;
  margin: auto;
  height: 30px;
  width: 30px;
  margin-right: 1rem;
  background: #003a6c;
  color: #fff;
  padding-top: 8px;
}

@media (max-width: 768px) {
  .vacation {
    background-image: none;
  }

  .navdown {
    padding: 0;
    flex-direction: column;
  }

  .sponsser {
    display: inline-flex;
  }

  .sponsser li {
    padding: 10px;
  }

  .navdown a i {
    margin-right: 13px;
  }
  .whitext {
    color: #003a6c !important
  }
}

/* footer  */

.footer-copyright {
  background-image: url("../img/footer/Layer 768.png");
  background-repeat: no-repeat;
  height: 20vh;
  width: 100%;
  display: inline-grid;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  background: #fff
}

footer button[type=submit]{
  background: transparent;
  border: 0;
  border-left: 1px solid #ccc;
  margin-left: -87px;
  z-index: 2;
  padding-left: 21px;
}
textarea:focus, input:focus {
  outline: 0;
}